<div class="sidebar">
  <div class="sidebar-bg brand">
  </div>
  <div id="sidebar" class="sidebar-bg">
    <ul ng-repeat="menu in $ctrl.menus">
      <li>
        <a ng-class="['menu', {'menu-active': menu.isActive}]" ng-href="{{ menu.link }}" ng-click="$ctrl.toggle(menu)">
            <span class="icon is-small" ng-if="menu.icon">
              <i ng-class="['fa', menu.icon]"></i>
            </span>
          <span class="menu-label">{{ menu.label }}</span>
          <span class="menu-toggle-state" ng-if="menu.subMenus">
              <i ng-class="['fa', {'fa-chevron-down': menu.isFold, 'fa-chevron-up': !menu.isFold}]"></i>
            </span>
        </a>
        <div class="submenu-bg submenu-expand" ng-if="menu.subMenus" ng-show="!menu.isFold">
          <ul class="submenu-group">
            <li ng-repeat="subMenu in menu.subMenus">
              <a ng-class="['menu', 'submenu', {'menu-active': subMenu.isActive}]"
                 ng-href="{{ subMenu.link }}" ng-click="$ctrl.toggle(subMenu)">
                <span class="menu-label">{{ subMenu.label }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
